@import "./main-menu.css";
@import "./player-area.css";
@import "./player-panel.css";
@import "./mapTerrain.css";
@import "./spells.css";
@import "./npc.css";
@import "./health-and-mana.css";
@import "./spell-animations.css";
@import "./spell-animations/main-spell-animations.css";
@import "./summons.css";
@import "./shop/shops.css";
@import "./shop/shop-items-display.css";
@import "./items/item-icons.css";
@import "./items/player-inventory.css";
@import "./items/player-inventory-menu.css";
@import "./items/drop-window.css";
@import "./promote-to-new-class.css";

#gamearea {
  height: 924px;
  width: 1532px;
  background-color: black;
  position: relative;
  border: 10px solid rgb(51, 0, 34);
}

#player-area-box {
  height: 100%;
  width: 1232px;
  background-color: rgb(41, 41, 41);
  position: absolute;
  left: 300px;
}

#player-panel-box {
  height: 100%;
  width: 300px;
  background-image: url("../Animations/Panel/panel_pixel-art-wallpaper.jpg");
  background-size: 100% 100%;
  position: absolute;
}
