/* PLAYER PANEL */

.class-panel-0 {
  border: 1px solid blue;
}

.class-panel-1 {
  border: 1px solid red;
}

.class-panel-2 {
  border: 1px solid yellow;
}

.class-panel-3 {
  border: 1px solid cyan;
}

/* CLASSES */

.novice-class-player-panel {
  background-image: url("../Animations/Classes/Novice/Novice\ 2\ Tactical\ RPG.gif");
  background-size: 100% 100%;
}

.warrior-class-player-panel {
  background-image: url("../Animations/Classes/Warrior/Warrior\ Tactical\ RPG\ gif\ 2.gif");
  background-size: 100% 100%;
}

.sorcerer-class-player-panel {
  background-image: url("../Animations/Classes/Wizard/Wizard\ Tactical\ RPG\ 1.gif");
  background-size: 100% 100%;
}

.priest-class-player-panel {
  background-image: url("../Animations/Classes/Paladin/Paladin\ Tactical\ RPG.gif");
  background-size: 100% 100%;
}

.wizard-class-player-panel {
  background-image: url("../Animations/Classes/Wizard/Wizard\ Tactical\ RPG\ 1.gif");
  background-size: 100% 100%;
}

.drow-ranger-class-player-panel {
  background-image: url("../Animations/Classes/Drow-Ranger/Drow\ Ranger\ Tactical\ RPG.gif");
  background-size: 100% 100%;
}

.paladin-class-player-panel {
  background-image: url("../Animations/Classes/Paladin/Paladin\ Tactical\ RPG.gif");
  background-size: 100% 100%;
}

/* TIMELINE */

#combat-timeline-box {
  background-color: rgba(255, 255, 255, 0.616);
  padding: 8px;
  min-height: 110px;
}

#combat-timeline-header {
  margin: 0;
  padding-bottom: 4px;
}

#combat-timeline-icons-box {
  display: flex;
  overflow-x: auto;
  padding: 5px 0;
}

.combat-timeline-icon {
  align-self: center;
  min-width: 60px;
  min-height: 60px;
  width: 60px;
  height: 60px;
}

.player-panel-active-turn {
  min-width: 70px;
  min-height: 70px;
  width: 70px;
  height: 70px;
  background-color: rgba(0, 42, 133, 0.733);
  box-sizing: border-box;
}

/* CHAR INFO */
#player-panel-char-info-box {
  background-color: rgba(0, 0, 0, 0.63);
  margin-top: 20px;
  padding: 0px 15px;
  color: white;
  font-family: "Courier New", Courier, monospace;
}

#panel-char-info-header {
  padding: 15px 0 5px 0;
  font-size: 22px;
  font-weight: 600;
  text-decoration: underline;
}

#panel-char-info-text-box {
  padding-bottom: 15px;
}

.panel-char-info-text {
  font-size: 20px;
}

.player0-panel-char-info-header {
  color: blue;
}

.player1-panel-char-info-header {
  color: red;
}

.player2-panel-char-info-header {
  color: yellow;
}

.player3-panel-char-info-header {
  color: cyan;
}

/* CONFIRM CHOICE BUTTON */

.player-panel-button {
  display: none;
  background-color: yellow;
  width: 200px;
  height: 50px;
  bottom: 50px;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  color: black;
  font-weight: bold;
  font-size: 35px;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
}

.player-panel-button:hover {
  cursor: pointer;
}

#player-panel-button-confirm {
}

/* COMBAT TIMER */
#player-panel-combat-timer-box {
  background-color: black;
  border: 2px solid black;
  height: 20px;
  width: 250px;
  margin: 100px auto 0 auto;
}

#combat-timer {
  background-color: red;
  width: 100%;
  height: 100%;
}

/* INFO TEXT */
#player-panel-info-text {
  height: 300px;
  margin-top: 30px;
  padding: 0 10px;
}
