/* WEAPONS */
.display-shop-item-icon-dirk {
  background-image: url("../../Animations/Items/Weapons/weapon-placeholder.png");
  background-size: 100% 100%;
}

.display-shop-item-icon-staff-of-magic {
  background-image: url("../../Animations/Items/Weapons/weapon-placeholder.png");
  background-size: 100% 100%;
}

.display-shop-item-icon-staff-of-healing {
  background-image: url("../../Animations/Items/Weapons/weapon-placeholder.png");
  background-size: 100% 100%;
}

.display-shop-item-icon-iron-sword {
  background-image: url("../../Animations/Items/Weapons/weapon-placeholder.png");
  background-size: 100% 100%;
}

/* SHOULDERS */

.display-shop-item-icon-shoulders-of-magic {
  background-image: url("../../Animations/Items/Shoulders/shoulders-placeholder.png");
  background-size: 100% 100%;
}
