/* WEAPONS */
.display-shop-item-icon-dirk {
  background-image: url("../../Animations/Items/Weapons/weapon-placeholder.png");
  background-size: 100% 100%;
}

.display-shop-item-icon-staff-of-magic {
  background-image: url("../../Animations/Items/Weapons/weapon-placeholder.png");
  background-size: 100% 100%;
}

.display-shop-item-icon-staff-of-healing {
  background-image: url("../../Animations/Items/Weapons/weapon-placeholder.png");
  background-size: 100% 100%;
}

.display-shop-item-icon-iron-sword {
  background-image: url("../../Animations/Items/Weapons/weapon-placeholder.png");
  background-size: 100% 100%;
}

/* HELMETS */
.display-shop-item-icon-viking-helmet {
  background-image: url("../../Animations/Items/Helmets/helmet-placeholder.png");
  background-size: 100% 100%;
}

/* SHOULDERS */
.display-shop-item-icon-shoulders-of-magic {
  background-image: url("../../Animations/Items/Shoulders/shoulders-placeholder.png");
  background-size: 100% 100%;
}

/* CHESTS */
.display-shop-item-icon-iron-chainmail {
  background-image: url("../../Animations/Items/Chests/chest-placeholder.png");
  background-size: 100% 100%;
}

/* LEGS */
.display-shop-item-icon-iron-leggings {
  background-image: url("../../Animations/Items/Legs/legs-placeholder.png");
  background-size: 100% 100%;
}

/* FEET */
.display-shop-item-icon-boots-of-sorrow {
  background-image: url("../../Animations/Items/Feet/feet-placeholder.png");
  background-size: 100% 100%;
}
