#inventory-menu-container {
  background-image: url("../../Animations/Panel/panel_pixel-art-wallpaper_resize\ .jpg");
  background-size: 100% 100%;
  font-family: "Courier New", Courier, monospace;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 40%;
  width: 40%;
  z-index: 82;
}

#inventory-menu-main-sub-container {
  display: flex;
  height: 90%;
  width: 100%;
}

#inventory-menu-left-sub-container {
  width: 50%;
  height: 100%;
}

#inventory-menu-right-sub-container {
  width: 50%;
  height: 100%;
}

.inventory-menu-close-button {
  width: fit-content;
  font-size: 25px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 10px 10px 0 auto;
  color: rgb(255, 0, 0);
}

.inventory-menu-close-button:hover {
  color: rgb(255, 68, 68);
  cursor: pointer;
  font-size: 30px;
  margin: 7.5px 7.5px 0 auto;
}

.inventory-menu-item-name {
  height: 10%;
  font-weight: bold;
  font-size: 25px;
  text-decoration: underline;
  text-align: center;
  margin-top: 10px;
  color: white;
}

.inventory-menu-drop-item {
  font-size: 20px;
  height: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.486);
}

.inventory-menu-drop-item:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.692);
  color: rgb(175, 175, 175);
}

.inventory-menu-drop-item-confirm-container {
  display: flex;
  align-items: center;
  background-color: rgb(46, 97, 139);
  height: 40px;
}

.inventory-menu-drop-item-confirm-text {
  width: 100px;
  padding: 3px 0;
  text-align: center;
  color: white;
}

.inventory-menu-drop-item-confirm-yes {
  margin: 0 10px;
  background-color: seagreen;
  width: 50px;
  text-align: center;
  padding: 3px 0;
  border-radius: 5px;
  color: white;
}
.inventory-menu-drop-item-confirm-yes:hover {
  cursor: pointer;
  background-color: red;
}

.inventory-menu-drop-item-confirm-no {
  background-color: rgb(209, 185, 50);
  width: 50px;
  text-align: center;
  padding: 3px 0;
  border-radius: 5px;
  color: white;
}

.inventory-menu-drop-item-confirm-no:hover {
  cursor: pointer;
  background-color: red;
}

/* RIGHT SUB MENU */
.inventory-menu-item-description {
  color: white;
}

.inventory-menu-item-stats-header {
  color: white;
}

.inventory-menu-each-stat-container {
  display: flex;
}

.inventory-menu-item-stats {
  color: white;
}

.inventory-menu-item-stats-value {
  color: white;
}
