/* WEAPONRY */
.shop-weaponry-weapon {
  background-image: url("../../Animations/Shop/shop-placeholder.png");
  background-size: 100% 100%;
}

.shop-weaponry-helmet {
  background-image: url("../../Animations/Shop/shop-placeholder.png");
  background-size: 100% 100%;
}

.shop-weaponry-shoulders {
  background-image: url("../../Animations/Shop/shop-placeholder.png");
  background-size: 100% 100%;
}

.shop-weaponry-chest {
  background-image: url("../../Animations/Shop/shop-placeholder.png");
  background-size: 100% 100%;
}

.shop-weaponry-legs {
  background-image: url("../../Animations/Shop/shop-placeholder.png");
  background-size: 100% 100%;
}

.shop-weaponry-feet {
  background-image: url("../../Animations/Shop/shop-placeholder.png");
  background-size: 100% 100%;
}

/* MISC */
.shop-misc-misc {
  background-image: url("../../Animations/Shop/shop-placeholder.png");
  background-size: 100% 100%;
}

.shop-misc-artifact {
  background-image: url("../../Animations/Shop/shop-placeholder.png");
  background-size: 100% 100%;
}

.shop-misc-gem {
  background-image: url("../../Animations/Shop/shop-placeholder.png");
  background-size: 100% 100%;
}

.shop-misc-ore {
  background-image: url("../../Animations/Shop/shop-placeholder.png");
  background-size: 100% 100%;
}

.shop-misc-fabric {
  background-image: url("../../Animations/Shop/shop-placeholder.png");
  background-size: 100% 100%;
}

.shop-misc-recipe {
  background-image: url("../../Animations/Shop/shop-placeholder.png");
  background-size: 100% 100%;
}
