#display-shop-container {
  padding: 30px;
  background-color: white;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  min-height: 40%;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}

.display-shop-close-button {
  position: absolute;
  color: rgb(255, 74, 74);
  font-size: 25px;
  height: 25px;
  top: 2px;
  left: 2px;
  border: 2px solid white;
}
.display-shop-close-button:hover {
  cursor: pointer;
  border: 2px solid red;
}

.display-shop-items-list-container {
  display: flex;
  flex-wrap: wrap;
  margin-right: 5%;
}

.display-shop-item-container {
  border: 2px solid rgb(255, 255, 255);
  height: fit-content;
  width: fit-content;
}

.display-shop-item-container:hover {
  cursor: pointer;
  border: 2px solid rgb(102, 255, 0);
}

.display-shop-item-icon {
  height: 40px;
  width: 40px;
}

/* Item rareity here: display-shop-item-rareity-${shopItems[key].rareity} */

#display-shop-item-info-container {
  width: 65%;
}

.display-shop-item-name-details {
  text-decoration: underline;
  font-weight: bold;
}

.display-shop-item-description {
}

.display-shop-item-stats-header {
}

.display-shop-item-price {
}

.display-shop-item-buy-button {
}

.display-shop-item-buy-button:hover {
  cursor: pointer;
}

.display-shop-each-item-container {
  display: flex;
}

.display-shop-item-stats {
}
